.about .container {
    display: flex;
    align-items: center;
}

.about-content{
    width: 100%;
    text-align: center;
}

.title-wrapper{
    width: 100%;
    text-align: center;
    justify-content: center;
}

.specials{
    padding-left: 20px;
}

.deals{
    padding: 15px   ;
    background-color: var(--eerie-black-1);
}


