:root{
    --bg-color: #ffffff;
    --second-bg-color: #003355;
    --text-color: #000000;
    --text2-color: #f6f6f6;
    --text3-color: #cacaca;
    --main-color: blue;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}

a{
    text-decoration: none;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    text-transform: capitalize;
}

body{
    overflow-x: hidden;
    background:var(--bg-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2.5rem;
    color:var(--text2-color);
    z-index: 2;


    .fa-bars{
        font-size: 3rem;
        z-index: 10000;
        cursor: pointer;
    }

    a{
        text-decoration: none;
    }

    .logo{
        color: var(--text2-color);
        font-size: 2rem;

        i{
            padding: 0 .5rem;
        }

        h1{
            display: inline;
        }

        &:hover{
            text-decoration: none;
        }
    }

    .left{
        .fa-shopping-cart{
            font-size: 2rem;
            padding-left: 10px;
        }

        .search-container{
            display: inline;
            position: relative;

            #search{
                position: absolute;
                top: -1.5rem;
                right: .8rem;
                height: 3.5rem;
                width: 3.5rem;
                font-size: 1.5rem;
                padding: 0 1rem;
                border: none;
                outline: none;
                border-radius: 5rem;
                background: var(--bg-color);
                color: var(--text-color);

                &:hover,&:focus{
                    width: 25rem;
                }
            }
            .fa-search{
                position: absolute;
                top: -.7rem;
                left: -3.5rem;
                font-size: 2rem;
                cursor: pointer;
                z-index: 1;
                color: var(--second-bg-color);

                &:hover ~ #search{
                    width: 25rem;
                }
            }
        }
    }

    .navbar{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        padding: 0;
        display: none;
        transition: all .3s ease-in-out;

        .fa-times{
            transition: all .3s ease-in-out;
        }

        ul{
            height: 100%;
            width: 35rem;
            background: var(--second-bg-color);
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            flex-flow: column;
            backface-visibility: hidden;


            li{
                margin: .5rem 0;

                a{
                    display: block;
                    height: 4rem;
                    width: 25rem;
                    background: var(--bg-color);
                    color: var(--text-color);
                    border-radius: 5rem;
                    text-align: center;
                    font-size: 2rem;
                    line-height: 4rem;

                    &:hover{
                        text-decoration: none;
                        background: var(--main-color    );
                        letter-spacing: .5rem;
                        color: #fff;
                    }
                }
            }
        }
    }
}

#home{
    width: 100%;
    

    .slide{
        width: 100%;
        min-height: 100vh;
        padding: 10px 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: linear-gradient(200deg,blue,black);
        

        .image{
            width: 100%;
            display: flex;
            justify-content: center;
            img{
                height: 100%;
                width: 100%;
                margin: 0 auto;
                overflow: hidden;
            }
        }




        .content{
            text-align: start;
            h1{
                font-size: 4rem;
                font-weight: 600;
                color:var(--text2-color);
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }
            p{
                font-size: 2rem;
                color: var(--text2-color);
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
            .stars{
                margin: 1rem;

                i{
                    font-size: 1.5rem;
                    padding-right: .4rem;
                    color:gold;
                }
            }
            .price{
                color:rgb(255, 0, 149);
                font-size: 3.5rem;
                display: flex;
                align-items: center;
                gap: 10px;

                span{
                    font-size: 2rem;
                    text-decoration: line-through;
                    color: #a5a5a5;
                    font-weight: 400;
                }
            }
            button{
                outline:none;
                border:none;
                height:4rem;
                width:16rem;
                background:blue;
                color:#fff;
                font-size:1.5rem;
                cursor: pointer;
                margin:.5rem 0;
                border-radius: 5rem;
                text-transform: capitalize;

                &:hover{
                    background: rgb(255, 0, 149);
                }
            }
        }
    }
}

.fa-times{
    padding-top: 1rem;
}

.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{
    background: #ffffffa8;
    padding: 5px 10px;
    border-radius: 10px;
    
}

#product{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    .heading{
        color: var(--text-color);
        text-align: center;
        font-size: 3rem;
        padding-top: 3rem;
        margin: 2rem 0;
        position: relative;

        &::after{
            content: '';
            position: absolute;
            bottom: -1rem;
            left: 50%;
            transform: translateX(-50%);
            height: .3rem;
            width: 60%;
            background: var(--second-bg-color);
        }
    }

    .products-container{
        width: 90%;

        .titles{
            font-size: 3rem;
            color: var(--main-color);
            margin-top: 5rem;
            margin-left: 6rem;
        }

        .products-slider{
            .product-card{
                height: 40rem;
                width: 25rem;
                margin: 2rem auto;
                box-shadow: 0 0 .3rem rgba(0,0,0.5);
                border-radius: .5rem;
                position: relative;

                .image{
                    height: 70%;
                    width: 100%;

                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }

                .content{
                    height: 25%;
                    width: 100%;
                    text-align: center;

                    h3{
                        font-size: 3rem;
                        color: var(--main-color);
                    }

                    .stars{
                        i{
                            color: gold;
                        }
                    }

                    .price{
                        font-size: 2rem;
                        color: var(--second-bg-color);
                    }
                }

                .info{
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background: var(--second-bg-color);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-flow: column;
                    transition-delay: .2s;
                    transform: scale(0);

                    h4{
                        font-size: 4rem;
                        color: var(--bg-color);
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    }

                    p{
                        font-size: 1.2rem;
                        padding: 1rem 2rem;
                        color: var(--bg-color);
                        text-align: center;
                    }

                    button{
                        outline:none;
                        border:none;
                        height:4rem;
                        width:16rem;
                        background: rgb(255, 0, 149);
                        color:#fff;
                        font-size:1.5rem;
                        cursor: pointer;
                        margin:.5rem 0;
                        border-radius: 5rem;
                        text-transform: capitalize;
        
                        &:hover{
                            background: var(--main-color);
                            letter-spacing: 2px;
                        }
                    }

                    .share{
                        margin-top: 4rem;
                        a{
                            font-size: 2rem;
                            height: 4rem;
                            width: 4rem;
                            line-height: 4rem;
                            text-align: center;
                            background: var(--text2-color);
                            color: #003355;
                            margin:0.5rem;
                            border-radius: 5rem;
                            text-decoration: none;

                            &:hover{
                                background: var(--main-color);
                                color: var(--bg-color);
                            }
                        }
                    }
                }

                &:hover .info{
                    transform: scale(1);
                }
            }
        }
    }
}
#product
.products-container {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#review{
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(images/jonas-leupe-wK-elt11pF0-unsplash.jpg),linear-gradient(128deg,rgb(119, 119, 243),blue) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: screen;
    position: relative;


    .heading{
        color: red;
        text-align: center;
        font-size: 3rem;
        padding-top: 7rem;
        margin: 2rem 0;
        position: relative;

        &::after{
            content: '';
            position: absolute;
            bottom: -1rem;
            left: 50%;
            transform: translateX(-50%);
            height: .3rem;
            width: 60%;
            background: var(--bg-color);
        }

    }

    .box-container{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .review-slider{
            .box{
                display: flex;
                align-items: center;
                justify-content: center;

                .image{
                    margin-top: 10rem;
                    margin-left: 3rem;

                    img{
                        height:10rem;
                        width: 10rem;
                        border-radius: 50% 50% 50% 0%;
                        border: .5rem solid red;
                    }
                }

                .comment{
                    height: 25rem;
                    width: 45rem;
                    background: var(--bg-color);
                    border-radius: 2% 2% 0% 40%;
                    padding-top: 2rem;


                    p{
                        color: var(--text-color);
                        font-size: 1.6rem;
                        padding: 2rem;

                        i{
                            color: red;
                            font-size: 2rem;
                            padding: 0rem .5rem; 
                        }
                    }

                    h3{
                        text-align: end;
                        color: red;
                        margin: .5rem 2rem;
                        font-size: 2.5rem;
                    }
                }
            }
        }
    }
}

#offer{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .heading{
        color: red;
        text-align: center;
        font-size: 3rem;
        padding-top: 7rem;
        margin: 2rem 0;
        position: relative;

        &::after{
            content: '';
            position: absolute;
            bottom: -1rem;
            left: 50%;
            transform: translateX(-50%);
            height: .3rem;
            width: 60%;
            background: var(--bg-color);
        }
    }

    .deal{
        background: url(images/wp11905520-holding-phone-wallpapers.jpg),linear-gradient(128deg,rgb(177, 119, 243),rgb(170, 0, 255))no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-blend-mode: screen;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5rem 0;
        width: 100%;

        .image{
            img{
                height: 50vh;
            }
        }
        .content{
            text-shadow: .1rem .1rem .3rem #333;

            h4{
                font-size: 4rem;
                color: var(--main-color);
            }

            p{
                font-size: 2rem;
                color: var(--text2-color);
            }

            .stars{
               i{
                color: gold;
                font-size: 1.5rem;
               }
            }

            .price{
                font-size: 3rem;
                color: var(--text2-color);
            }

            button{
                outline:none;
                border:none;
                height:4rem;
                width:16rem;
                background: rgb(255, 0, 149);
                color:#fff;
                font-size:1.5rem;
                cursor: pointer;
                margin:.5rem 0;
                border-radius: 5rem;
                text-transform: capitalize;

                &:hover{
                    background: var(--second-bg-color);
                    letter-spacing: 2px;
                }
            }
        }
    }

    .images{
        min-height: 20vh;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

        .box{
            height: 25rem;
            width: 30rem;
            text-align: center;
            margin: 2rem;

            img{
                height: 20rem;
                width: 30rem;
            }

            h3{
                color: var(--second-bg-color);
                font-size: 2.5rem;
                margin: 1rem 0;
            }

            
        }
    }
}

#brands{
    .brand-slider{
        img{
            height: 5rem;
            width: 15rem;
            margin: 4rem auto;
        }
    }
}

#newsletter{
    width: 100vw;
    background: linear-gradient(rgba(0,0,255,.4),rgba(0,0,255,.4)),url(images/Tallest-buildings-in-Mumbai-Top-10-Mumbai’s-tallest-buildings-FB-1200x700-compressed.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 6rem 0;
    text-align: center;

    h1{
        font-size: 6rem;
        color: var(--text2-color);
    }

    p{
        font-size: 3rem;
        color: var(--text2-color);
    }

    input[type="text"]{
        outline: none;
        border: none;
        background: #333;
        color: var(--text2-color);
        height: 4rem;
        width: 34rem;
        border-radius: 5rem;
        font-size: 1.5rem;
        padding: 1.5rem;

        &::placeholder{
            color: var(--text2-color);
        }
    }

    input[type="submit"]{
        display: inline;
        outline:none;
                border:none;
                height:4rem;
                width:16rem;
                background: rgb(255, 0, 149);
                color:#fff;
                font-size:1.5rem;
                cursor: pointer;
                margin:.5rem 0;
                margin-top: 2rem;
                border-radius: 5rem;
                text-transform: capitalize;

                &:hover{
                    background: var(--second-bg-color);
                    letter-spacing: 2px;
                }
    }
}

#footer{
    padding: 2rem 0;
    background: var(--second-bg-color);
    width: 100vw;

    .row{
        width: 100%;
        margin: 0;
    }

    .brand-info{
        margin: 1rem;
        padding: 0;

        a{
            color: var(--text2-color);
            &:hover{
                text-decoration: none;
            }

            i{
                padding: 0 .5rem;
                font-size: 2rem;
            }

            h3{
                display: inline;
                font-size: 2rem;
            }
        }

        p{
            color: var(--text2-color);
            padding: 2rem;
            font-size: 1.5rem;
            margin: 0;
        }
    }

    .links, .follow-us{
        padding: 0;
        margin: 1rem;

        h3{
            font-size: 2rem;
            color: var(--text2-color);
        }

        .nav-links,.follow-us-links{
            display: flex;
            flex-direction: column;

            a{
                color: var(--text3-color);
                font-size: 1.5rem;

                &:hover{
                    text-decoration: underline;
                    letter-spacing: 2px;
                }
            }
        }
    }

    .credit{
        color: var(--text2-color);
        font-size: 2rem;
        padding-top: 1.5rem;width: 100%;
        border-top: .1rem solid var(--text3-color);

        sapn{
            color: red;
        }
    }
}



@media (max-width:800px) {

    html{
        font-size: 55%;
    }

    #home{
        padding-bottom: 2rem;

        .slide{
            flex-flow: column-reverse;
            padding: 20px;
 

            .content{
                padding: 1rem;

                h1{
                    font-size: 2.3rem;
                    font-weight: 500;
                }

                p{
                    font-size: 1.5rem;
                    font-weight: 400;
                }
            }

           
        }
    }

    #product
    .heading {
        color: var(--text-color);
        text-align: center;
        font-size: 3rem;
        padding-top: 1rem;
        margin: 1rem 0;
        position: relative;
    }

    #product
    .products-container
    .titles {
        font-size: 2rem;
        color: var(--main-color);
        margin: 0;
        padding: 10px;
        text-align: center;
    }

    #offer{
        .deal{
            flex-direction: column;
            .image{
                img{
                    height: auto;
                    width: 100%;
                }
            }

            .content{
                text-align: center;
            }
        }
    }
}

@media (max-width:600px) {
    #review{
        .heading{
            padding-top: 3rem;
            margin-bottom: 5rem;
        }
        .box-container{
            
            .review-slider{
                .box{
                    position: relative;
                    height: 50vh;

                    .image{
                        position: absolute;
                        top: 0;
                        margin: 0;

                        img{
                            border-radius: 5rem;
                        }
                    }

                    .comment{
                        border-radius: 1rem;
                        text-align: center;
                        width: 35rem;

                        h3{
                            text-align: center;
                            margin-top: -2rem;
                        }
                    }
                }
            }
        }
    }

    #brands{ 
        padding: 20px;
    }

    #newsletter{
        h1{
            font-size: 4rem;
        }

        p{
            font-size: 2rem;
        }

    }
}

.swiper-button-next, .swiper-button-prev{
    color: var(--second-bg-color);
    height: 1px;
}
