*{
    padding: 0; margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .3s ease-in-out;
}


:root{
    --bg-color: #0e0025;
    --second-bg-color: rgb(236, 176, 11);
    --text1-color: #f6f6f6;
    --text2-color: rgb(0, 0, 0);
    --main-color: #ffffff;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border: .3rem solid rgba(0,0,0,.1);
    --outline: .3rem solid rgba(255, 255, 255, 0.1);
    --outline-hover: .2rem solid var(--second-bg-color);
}

html{
    scroll-behavior: smooth;
    text-transform: capitalize;
    font-size: 62.5%;
    scroll-padding-top: 7rem;
    overflow-x: hidden;
}

body{
    background: rgb(225, 223, 231) ;
    transition: all .3s ease-in-out;
}

section{
    padding: 2rem 9%;
}




/* header */

.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--main-color);

    
}

.heading span{
    background: var(--second-bg-color);
    color: var(--text1-color);
    display: inline-block;
    padding: .5rem 3rem;
    margin: 5px;
    clip-path: polygon(100% 0,93% 50%,100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;border-radius: .5rem;
    border: .2rem solid var(--second-bg-color);
    color: var(--second-bg-color);
    cursor: pointer;
    background: none;
}

.btn:hover{
    background: var(--second-bg-color);
    color: var(--text1-color);
}

.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 9%;
    background: var(--bg-color);
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--main-color);
}

.logo img{
    height: 3.5rem;
    width: 3.5rem;
}

.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--main-color);
}

.header .navbar a:hover{
    color: var(--second-bg-color);
}

.header .icons{
    display: flex;
    justify-content: space-around;
    width: 200px;
}

.header .icons div{
    height: auto;
    width: auto;
    line-height: auto;
    padding: 10px;
    border-radius: .5rem;
    background: var(--bg-color);
    color: var(--main-color);
    font-size: 2rem;
    margin-right: .3rem;
    text-align: center;
    cursor: pointer;
}

.header .icons div:hover{
    background: var(--second-bg-color);
    color: var(--text1-color);
}

#menu-btn{
    display: none;
}



.header .login-form{
    position: absolute;
    top: 110%; right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    background: var(--main-color);
    text-align: center;
}

.login-form  h3{
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    color: var(--second-bg-color);
}

.login-form .box{
    width: 100%;
    margin: .8rem 0;
    background:rgb(211, 212, 212);
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--main-color);
    border: none;
    text-transform: none;
}

.login-form  p{
    font-size: 1.4rem;
    padding: .5rem 0;
    color: var(--text2-color);
}

.login-form p  a{
    color: var(--second-bg-color);
    text-decoration: underline;
}

.header .login-form.active{
    right: 2rem;
    transition: .4s linear;
}

.state{
    position: absolute;
    width: 100%;
    top: 100%; right: 0; left: 0;
    background-color: var(--bg-color);
    color: var(--text1-color);
    height: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;

    .content{
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;

        a{
            color: var(--text1-color);
            text-decoration: none;
            font-size: 15px;
            padding: 10px;

            &:hover{
                color: var(--second-bg-color);
            }
        }
    }
}
.state.active{
    height: auto;
    padding: 10px;
    margin: 0;
}







/* home content */


.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/AdobeStock_217216886_Preview.jpeg) no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding-top: 20rem;
    padding-bottom: 10rem;

}

.home .content{
    text-align: center;
    width: 60rem;
}

.home .content  h3{
    color: var(--bg-color);
    font-size: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

span{
    color: var(--second-bg-color);
}

.home  .content  p{
    color: var(--text2-color);
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 1.8rem;
}

.swiper-wrapper{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.products h1{
    color: var(--bg-color);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
}

.products h1 a{
    color: #f6f6f6;
}

.products .products-slider{
    
}

.products-slider:first-child{
    margin-bottom:2rem;
}

.products-slider .box{
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    height:40rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    background: url(images/2019-11-25_21-26-41_UTC-769x961.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    width: 30rem;
}

.products-slider .box.box2{
    background: url(images/2020-07-27_14-27-33_UTC-769x961.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box3{
    background: url(images/2019-12-11_23-39-06_UTC-769x961.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box4{
    background: url(images/2020-07-18_12-10-32_UTC-769x961.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box5{
    background: url(images/2020-08-11_06-47-18_UTC_1-769x961.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box6{
    background: url(images/2020-07-25_17-15-36_UTC-769x961.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box7{
    background: url(images/2020-05-20_17-26-42_UTC_2-769x769.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box8{
    background: url(images/2020-07-30_01-21-39_UTC_2-769x769.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box9{
    background: url(images/WhatsApp\ Image\ 2024-09-07\ at\ 18.59.42_0b26b76b.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box10{
    background: url(images/WhatsApp\ Image\ 2024-09-07\ at\ 18.59.42_775d0919.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box11{
    background: url(images/WhatsApp\ Image\ 2024-09-07\ at\ 18.59.43_bb44cfcd.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box12{
    background: url(images/WhatsApp\ Image\ 2024-09-07\ at\ 18.59.44_31c1f577.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box13{
    background: url(images/WhatsApp\ Image\ 2024-09-07\ at\ 18.59.44_5bb3caeb.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box14{
    background: url(images/2020-08-11_06-47-18_UTC_1-769x961.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box15{
    background: url(images/2020-06-16_13-12-44_UTC_2-769x961.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box16{
    background: url(images/2020-07-06_00-04-44_UTC_3-769x961.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box17{
    background: url(images/2020-07-19_16-21-36_UTC.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box18{
    background: url(images/2019-05-16_04-36-18_UTC_1.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.products-slider .box.box19{
    background: url(images/2020-07-01_03-00-29_UTC_1-769x961.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box20{
    background: url(images/2019-12-11_04-26-14_UTC-769x769.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box21{
    background: url(images/2020-06-25_23-46-55_UTC-769x769.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box22{
    background: url(images/2020-06-24_23-38-28_UTC-769x961.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box23{
    background: url(images/043q6rab35021.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box24{
    background: url(images/30.181398751-769x961.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box25{
    background: url(images/2019-10-10-18.59.02-min-769x1528.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box26{
    background: url(images/54-4dAW2fQ-769x802.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box27{
    background: url(images/2020-05-12_20-24-30_UTC-769x961.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box28{
    background: url(images/2019-05-24_02-01-06_UTC_2-769x961.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box29{
    background: url(images/2020-05-05_10-08-46_UTC_3-769x958.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box30{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/04/10-OmBKcHP.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box31{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/04/2019-12-16_19-15-41_UTC-769x577.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box32{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/04/21-3V46GM6-820x1024.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box33{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/04/1-Yg1cC7h.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box34{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/04/4.252932877-769x961.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box35{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/04/17-cvPm6C6-769x947.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box36{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/04/4-5XSHKH8.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box37{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/04/20-8f3RA0S-769x769.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box38{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/04/19-0UeZKw5-769x775.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box39{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/04/5.151966107-769x961.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box40{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/04/126.1155683556-769x961.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box41{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/04/72.1775625125-769x769.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box42{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/04/25.921498216-769x961.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box43{
    background: url(https://fapdungeon.com/wp-content/uploads/2023/04/@unlockedmegaA-TELEGRAM-14-769x1019.png), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box44{
    background: url(https://fapdungeon.com/wp-content/uploads/2023/04/ElitePacks.net-Join-Telegram-@ElitePacksOfficial-1688-769x1025.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box45{
    background: url(https://fapdungeon.com/wp-content/uploads/2023/04/960x1280_fc92a3a88decb25b8c5be72d86e6ff0f-769x1025.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box46{
    background: url(https://fapdungeon.com/wp-content/uploads/2023/10/3405x4543_1c753fc5ba17e292d5962062e8e8f472-769x1026.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box47{
    background: url(https://fapdungeon.com/wp-content/uploads/2023/10/Sashiuwu-@onlyfansisfree-on-tg-106-769x848.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box48{
    background: url(https://fapdungeon.com/wp-content/uploads/2023/05/IMG-20230223-WA0001-769x1026.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box49{
    background: url(https://fapdungeon.com/wp-content/uploads/2023/11/@unlockedmegaA-TELEGRAM-3-769x1415.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box50{
    background: url(https://fapdungeon.com/wp-content/uploads/2024/04/2189x2918_7f3c6196e6854e1b98de187cf15139f2-769x1025.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box51{
    background: url(https://fapdungeon.com/wp-content/uploads/2024/03/1134x2108_225f34786e571b6a6335b6ccd731cefc-MPqYCuJt-769x1429.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box52{
    background: url(https://fapdungeon.com/wp-content/uploads/2024/05/IMG_0929-WrCD7OTb-IymF5iHR-769x1025.jpeg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box53{
    background: url(https://fapdungeon.com/wp-content/uploads/2024/05/@RisqueMega-94-769x1027.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box54{
    background: url(https://fapdungeon.com/wp-content/uploads/2024/01/venomous_dolly-@onlyfansisfree-on-tg-1237-769x1110.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box55{
    background: url(https://fapdungeon.com/wp-content/uploads/2024/04/Join-@MegaRedLinkz-on-Telegram-33-769x1154.jpeg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box56{
    background: url(https://fapdungeon.com/wp-content/uploads/2024/02/Hey-sup-%F0%9F%98%8C-769x1025.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box57{
    background: url(https://fapdungeon.com/wp-content/uploads/2024/05/Join-@MegaRedLinkz-On-Telegram-93-769x1203.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box58{
    background: url(https://fapdungeon.com/wp-content/uploads/2024/07/Join-@MegaRedLinkz-On-Telegram-46-769x900.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box59{
    background: url(https://fapdungeon.com/wp-content/uploads/2024/06/@Prmpacks-Telegram-691-769x1025.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box60{
    background: url(https://fapdungeon.com/wp-content/uploads/2024/07/ElitePacks.net-Join-Telegram-@ElitePacksOfficial-116-1-769x577.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box61{
    background: url(https://fapdungeon.com/wp-content/uploads/2024/07/ElitePacks.net-Join-Telegram-@ElitePacksOfficial-109-769x1154.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box62{
    background: url(https://fapdungeon.com/wp-content/uploads/2024/09/ElitePacks.net-Join-Telegram-@ElitePacksOfficial-263-769x653.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box63{
    background: url(https://fapdungeon.com/wp-content/uploads/2024/08/ElitePacks.net-Join-Telegram-@ElitePacksOfficial-370-769x1025.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box64{
    background: url(https://fapdungeon.com/wp-content/uploads/2024/08/@RisqueMega-43-769x1025.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box65{
    background: url(https://fapdungeon.com/wp-content/uploads/2024/09/Join-@MegaRedLinkz-on-Telegram-189-769x1024.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box66{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/04/15.2059700074-769x1116.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box67{
    background: url(https://fapdungeon.com/wp-content/uploads/2022/12/f4681e4081093b2a99c87caca3f1319d.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box68{
    background: url(https://fapdungeon.com/wp-content/uploads/2023/01/Uploaded-by-ElitePacks.net-Join-TG-@ElitePacksOfficial-13-2-769x961.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box69{
    background: url(https://fapdungeon.com/wp-content/uploads/2022/11/Megaonlyfans-Reddit-Community-175-769x769.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box70{
    background: url(https://fapdungeon.com/wp-content/uploads/2022/08/Join-@MegaRedLinks2-on-Reddit-186-769x1026.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box71{
    background: url(https://fapdungeon.com/wp-content/uploads/2022/09/LeakedBB.com_Repost_477--769x769.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box72{
    background: url(https://fapdungeon.com/wp-content/uploads/2022/11/FgV4nzaUUAAjiwg-769x1025.jpeg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box73{
    background: url(https://fapdungeon.com/wp-content/uploads/2022/10/3D665C7C-8805-441B-B396-49BE1F1686F8_1-769x1664.png), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box74{
    background: url(https://fapdungeon.com/wp-content/uploads/2022/06/Telegram-@MegaFree4All024-769x1025.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box74{
    background: url(https://fapdungeon.com/wp-content/uploads/2022/06/Telegram-@MegaFree4All024-769x1025.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box75{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/10/15876963-E22AB326-5B0D-4637-A22D-D84000DDE41C-769x1367.jpeg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box76{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/10/2019-12-14_19-47-59_UTC-769x891.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box77{
    background: url(https://fapdungeon.com/wp-content/uploads/2023/02/image-045-join-our-TG-@DirtySantaLeaks-769x1025.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box78{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/04/93.1477300815-769x769.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box79{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/04/73.296208069-769x961.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box80{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/04/1301903265-769x794.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box81{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/04/186-CHANfxq-769x824.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box82{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/04/34.712366388-769x961.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box83{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/04/64-Jd91z2j-769x1367.jpg
    ), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box84{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/04/15.771109097-769x827.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box85{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/04/1.2009694210-769x961.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box86{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/04/3pvgazua0pg31.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box87{
    background: url(https://fapdungeon.com/wp-content/uploads/2021/01/2020-09-08-02.08.07-769x832.jpeg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box88{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/12/2019-12-09_07-37-57_UTC-769x961.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box89{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/12/2020-09-23_09-25-11_UTC-769x961.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box90{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/12/2020-04-27_12-30-35_UTC-769x828.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box87{
    background: url(https://fapdungeon.com/wp-content/uploads/2021/01/2020-09-08-02.08.07-769x832.jpeg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box88{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/12/2019-12-09_07-37-57_UTC-769x961.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box89{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/12/2020-09-23_09-25-11_UTC-769x961.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box90{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/12/2020-04-27_12-30-35_UTC-769x828.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box91{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/11/2020-11-02_11-57-30_UTC-769x769.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box92{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/11/2020-07-07_04-30-49_UTC-769x961.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box93{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/10/2020-09-13_14-43-49_UTC_1.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box94{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/11/2020-05-14_14-50-42_UTC_4-769x769.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box95{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/10/2020-08-04_01-16-22_UTC-769x961.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box96{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/09/2020-08-06_18-33-08_UTC_1.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box97{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/09/2019-04-13_13-51-19_UTC-769x769.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box98{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/09/aympiv-Busty_in_grey.-aePv2As-769x961.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box99{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/09/2020-04-19_09-51-52_UTC-769x961.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box100{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/08/2020-07-27_11-06-54_UTC-769x961.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box101{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/07/2020-05-11_05-47-44_UTC-769x885.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box102{
    background: url(https://fapdungeon.com/wp-content/uploads/2020/07/2020-07-09_11-52-42_UTC-769x961.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.products-slider .box:hover{
    outline-offset: 0rem;
    outline: var(--outline-hover);
}


.products-slider .box .content{
    position: absolute;
    bottom: 0px;
    right: 0;
    text-align: start;
    background-color: rgba(0, 0, 0, 0.315);
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    height: 40px;
    overflow: hidden;
    transition: all .5s ease-in-out;
}

.products-slider .box:hover .content{
    height: 120px;
    transition: all .3s ease-in-out ;
}

.products-slider .box .content h3{
    font-size: 2rem;
    font-weight: 300;
    padding: 1px;
}

.products-slider .box img{
    height: 20rem;
}

.products-slider .box  h3{
    font-size: 2.5rem;
    color: var(--main-color);
}

.products-slider .box  .price{
    font-size: 2rem;
    color: var(--main-color);
    padding: .5rem 0;
}

.products-slider .box  i{
    font-size: 1.5rem;
    color: var(--second-bg-color);
    padding: .5rem 0;
}

.number{
    display: flex;
    justify-content: right;
    font-size: 1.3rem;
}



.footer{
    background: var(--main-color);

    .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
        gap: 1.5rem;

        .box{

            h3{
                font-size: 2.5rem;
                color: var(--second-bg-color);
                padding: 1rem 0;
              
                img{
                    height: 3rem;
                    width: 3rem;
                }
            }



            .links{
                display: block;
                font-size: 1.5rem;
                color: var(--text2-color);
                padding: 1rem 0;
                
                &:hover i{
                    padding-right: 2rem;
                }

                i{
                    color: var(--second-bg-color);
                    padding-right: .5rem;
                }
            }

            p{
                line-height: 1.8;
                font-size: 1.5rem;
                color: var(--bg-color);
                padding: 1rem 0; 
            }

            .share{
                a{
                    height: 4rem;
                    width: 4rem;
                    line-height: 4rem;
                    border-radius: .5rem;
                    font-size: 2rem;
                    color: var(--main-color);
                    margin-left: .2rem;
                    background: lightgray;
                    text-align: center;
                    padding: .5rem;

                    &:hover{
                        background: var(--second-bg-color);
                        color: var(--text1-color);
                    }
                }
            }

            .email{
                width: 100%;
                margin: .7rem 0;
                padding: 1rem;
                border-radius: .5rem;
                background: lightgray;  
                font-size: 1.6rem;
                color: var(--main-color);
                text-transform: none;
            }

            .payment{
                margin-top: 2rem;
                height: 3rem;
                width: 100%;
            }
        }

    }

    
}
.credit{
        background: var(--second-bg-color);
        color: var(--text1-color);
        text-align: center;
        width: 100%;
        padding: 1rem;
        font-size: 1.5rem;
    }




@media (max-width:991px) {
    html{
        font-size: 55%;
    }

    .header{
        padding:  2rem;
    }
}

@media (max-width:750px) {

    #menu-btn{
        display: inline-block;
    }

    section{
        padding: 2rem;
    }

    .header .navbar{
        position: absolute;
        top: 110%; right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: var(--bg-color);

        a{
            font-size: 2rem;
            margin: 2rem 2.5rem;
            display: block;
        }
    }

    .header .navbar.active{
        right: 2rem;
    }

    .home{
        height: 40rem;
    }

    .home .content h3 {
        font-size: 3rem;
    }

    .footer{
        text-align: center;
    }

    .payment{
        margin-top: 2rem;
        height: 3rem;
        width: 50%;
    }
}

@media (max-width:450px) {
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 2.5rem;
    }
}