*{
    padding: 0; margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .3s ease-in-out;
}


:root{
    --bg-color: #0e0025;
    --second-bg-color: rgb(236, 176, 11);
    --text1-color: #f6f6f6;
    --text2-color: rgb(0, 0, 0);
    --main-color: #ffffff;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border: .3rem solid rgba(0,0,0,.1);
    --outline: .3rem solid rgba(255, 255, 255, 0.1);
    --outline-hover: .2rem solid var(--second-bg-color);
}

html{
    scroll-behavior: smooth;
    text-transform: capitalize;
    font-size: 62.5%;
    scroll-padding-top: 7rem;
    overflow-x: hidden;
}

body{
    background: Silver ;
    transition: all .3s ease-in-out;
}

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--main-color);

    
}

.heading span{
    background: var(--second-bg-color);
    color: var(--text1-color);
    display: inline-block;
    padding: .5rem 3rem;
    margin: 5px;
    clip-path: polygon(100% 0,93% 50%,100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;border-radius: .5rem;
    border: .2rem solid var(--second-bg-color);
    color: var(--second-bg-color);
    cursor: pointer;
    background: none;
}

.btn:hover{
    background: var(--second-bg-color);
    color: var(--text1-color);
}

.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 9%;
    background: var(--bg-color);
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--main-color);
}

.logo img{
    height: 3.5rem;
    width: 3.5rem;
}

.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--main-color);
}

.header .navbar a:hover{
    color: var(--second-bg-color);
}

.header .icons{
    display: flex;
}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: var(--bg-color);
    color: var(--main-color);
    font-size: 2rem;
    margin-right: .3rem;
    text-align: center;
    cursor: pointer;
}

.header .icons div:hover{
    background: var(--second-bg-color);
    color: var(--text1-color);
}

#menu-btn{
    display: none;
}



.header .login-form{
    position: absolute;
    top: 110%; right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    background: var(--main-color);
    text-align: center;
}

.login-form  h3{
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    color: var(--second-bg-color);
}

.login-form .box{
    width: 100%;
    margin: .8rem 0;
    background:rgb(211, 212, 212);
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--main-color);
    border: none;
    text-transform: none;
}

.login-form  p{
    font-size: 1.4rem;
    padding: .5rem 0;
    color: var(--text2-color);
}

.login-form p  a{
    color: var(--second-bg-color);
    text-decoration: underline;
}

.header .login-form.active{
    right: 2rem;
    transition: .4s linear;
}


.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/AdobeStock_217216886_Preview.jpeg) no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding-top: 20rem;
    padding-bottom: 10rem;

}

.home .content{
    text-align: center;
    width: 60rem;
}

.home .content  h3{
    color: var(--bg-color);
    font-size: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

span{
    color: var(--second-bg-color);
}

.home  .content  p{
    color: var(--text2-color);
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 1.8rem;
}


.products h1{
    color: var(--bg-color);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
}

.products .products-slider{
    padding: 1rem;
}

.products-slider:first-child{
    margin-bottom:2rem;
}

.products-slider .box{
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    height:40rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    background: url(images/silhouette-beautiful-woman-with-long-hair-dark-background_970631-6717.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: baseline;
}

.products-slider .box:hover{
    outline-offset: 0rem;
    outline: var(--outline-hover);
}


.products-slider .box .content{
    position: absolute;
    bottom: 0px;
    right: 0;
    text-align: start;
    background-color: rgba(0, 0, 0, 0.315);
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    height: 40px;
    overflow: hidden;
    transition: all .5s ease-in-out;
}

.products-slider .box:hover .content{
    height: 120px;
    transition: all .3s ease-in-out ;
}

.products-slider .box .content h3{
    font-size: 2rem;
    font-weight: 300;
    padding: 1px;
}

.products-slider .box img{
    height: 20rem;
}

.products-slider .box  h3{
    font-size: 2.5rem;
    color: var(--main-color);
}

.products-slider .box  .price{
    font-size: 2rem;
    color: var(--main-color);
    padding: .5rem 0;
}

.products-slider .box  i{
    font-size: 1.5rem;
    color: var(--second-bg-color);
    padding: .5rem 0;
}

.number{
    display: flex;
    justify-content: right;
    font-size: 1.3rem;
}



.footer{
    background: var(--main-color);

    .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
        gap: 1.5rem;

        .box{

            h3{
                font-size: 2.5rem;
                color: var(--second-bg-color);
                padding: 1rem 0;
              
                img{
                    height: 3rem;
                    width: 3rem;
                }
            }



            .links{
                display: block;
                font-size: 1.5rem;
                color: var(--text2-color);
                padding: 1rem 0;
                
                &:hover i{
                    padding-right: 2rem;
                }

                i{
                    color: var(--second-bg-color);
                    padding-right: .5rem;
                }
            }

            p{
                line-height: 1.8;
                font-size: 1.5rem;
                color: var(--bg-color);
                padding: 1rem 0; 
            }

            .share{
                a{
                    height: 4rem;
                    width: 4rem;
                    line-height: 4rem;
                    border-radius: .5rem;
                    font-size: 2rem;
                    color: var(--main-color);
                    margin-left: .2rem;
                    background: lightgray;
                    text-align: center;
                    padding: .5rem;

                    &:hover{
                        background: var(--second-bg-color);
                        color: var(--text1-color);
                    }
                }
            }

            .email{
                width: 100%;
                margin: .7rem 0;
                padding: 1rem;
                border-radius: .5rem;
                background: lightgray;  
                font-size: 1.6rem;
                color: var(--main-color);
                text-transform: none;
            }

            .payment{
                margin-top: 2rem;
                height: 3rem;
                width: 100%;
            }
        }

    }

    
}
.credit{
        background: var(--second-bg-color);
        color: var(--text1-color);
        text-align: center;
        width: 100%;
        padding: 1rem;
        font-size: 1.5rem;
    }




@media (max-width:991px) {
    html{
        font-size: 55%;
    }

    .header{
        padding:  2rem;
    }
}

@media (max-width:750px) {

    #menu-btn{
        display: inline-block;
    }

    section{
        padding: 2rem;
    }

    .header .navbar{
        position: absolute;
        top: 110%; right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: var(--bg-color);

        a{
            font-size: 2rem;
            margin: 2rem 2.5rem;
            display: block;
        }
    }

    .header .navbar.active{
        right: 2rem;
    }

    .home{
        height: 40rem;
    }

    .home .content h3 {
        font-size: 3rem;
    }

    .footer{
        text-align: center;
    }

    .payment{
        margin-top: 2rem;
        height: 3rem;
        width: 50%;
    }
}

@media (max-width:450px) {
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 2.5rem;
    }
}